@model managment.Models.teacher_info

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/layoutadmin.cshtml";
}

<h2>Details</h2>

<div>
    <h4>teacher_info</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.t_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.t_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.t_email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.t_email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.t_salary)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.t_salary)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.t_id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
