@model IEnumerable<managment.Models.st_subj>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/layoutadmin.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.Label("Subject", null, htmlAttributes: new { @class = "" })

        </th>
        <th>
            @Html.Label("Subject Type", null, htmlAttributes: new { @class = "" })

        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.s_sub)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.s_type)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.s_id }) |
            @Html.ActionLink("Details", "Details", new { id=item.s_id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.s_id })
        </td>
    </tr>
}

</table>
