@model IEnumerable<managment.Models.std_course>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap   " />

<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" rel="stylesheet">
<link rel=”stylesheet” href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />


<link rel="icon" href="~/Userp/images/fevicon.png" type="image/gif" />
<!-- bootstrap css -->
<link rel="stylesheet" href="~/Userp/css/bootstrap.min.css">
<!-- style css -->
<link rel="stylesheet" href="~/Userp/css/style.css">
<!-- Responsive-->
<link rel="stylesheet" href="~/Userp/css/responsive.css">
<!-- Scrollbar Custom CSS -->
<link rel="stylesheet" href="~/Userp/css/jquery.mCustomScrollbar.min.css">


<link rel="stylesheet" href="~/index style/css/themify-icons.css">

<!--[if lt IE 9]>
<script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script><![endif]-->


<link rel="stylesheet" href="~" />

<style>

    .owl-btn-center-lr .owl-nav .owl-next {
        left: auto;
        right: 0;
    }

    .quote-left:before {
        content: "\f10d";
        left: 0;
    }


    .quote-left:before {
        content: "\f10d";
        left: 0;
    }
</style>




<link rel="stylesheet" href="~/index style/plugins.css" />
<link rel="stylesheet" href="~/index style/style.css" />
<link rel="stylesheet" href="~/index style/templete.css" />


<script src="~/index style/dz.carousel.js"></script>
<script src="~/index style/owl.carousel.js"></script>


<script src="~/index style/masonry-3.1.4.js"></script>
<script src="~/index style/masonry.filter.js"></script>
<script src="~/index style/popper.min.js"></script>
<script src="~/index style/wow.js"></script>
<script src="~/index style/waypoints-min.js"></script>

<link rel="stylesheet" type="text/css" href="~/index style/css/plugins.css">
<link rel="stylesheet" type="text/css" href="css/style.css">
<link class="skin" rel="stylesheet" type="text/css" href="css/skin/skin-1.css">
























<div class="bg_div1">
    <div class="bg_div2">


        <section class="slider_section">
            <div id="myCarousel" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                    <li data-target="#myCarousel" data-slide-to="1"></li>
                    <li data-target="#myCarousel" data-slide-to="2"></li>
                </ol>
                <div class="carousel-inner">
                    <div class="carousel-item active">

                        <div class="container-fluid padding_dd">
                            <div class="carousel-caption">
                                <div class="row">
                                    <div class="col-xl-5 col-lg-5 col-md-5 col-sm-12">
                                        <div class="text-bg">
                                            <h1>Search your Favorite Course here</h1>
                                            <p>TOP NOTCH COURSES FROM TRAINED PROFESSIONALS</p>
                                            <a href="#">Read more</a> <a href="#">get a qoute</a>
                                        </div>
                                    </div>
                                    <div class="col-xl-7 col-lg-7 col-md-7 col-sm-12">
                                        <div class="images_box">
                                            <figure><img src="~/Userp/images/img2.png"></figure>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">

                        <div class="container-fluid padding_dd">
                            <div class="carousel-caption">

                                <div class="row">
                                    <div class="col-xl-5 col-lg-5 col-md-5 col-sm-12">
                                        <div class="text-bg">
                                            <h1>Advance Education With AI</h1>
                                            <p>TOP NOTCH COURSES FROM TRAINED PROFESSIONALS</p>
                                            <a href="#">Read more</a><a href="#">get a qoute</a>
                                        </div>
                                    </div>

                                    <div class="col-xl-7 col-lg-7 col-md-7 col-sm-12">
                                        <div class="images_box">
                                            <figure><img src="~/Userstyle/sli1.png" style="height:750px; width:800px; margin-top:-180px;"></figure>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>


                    <div class="carousel-item">

                        <div class="container-fluid padding_dd">
                            <div class="carousel-caption ">
                                <div class="row">



                                    <div class="col-xl-5 col-lg-5 col-md-5 col-sm-12">
                                        <div class="text-bg">
                                            <h1>Search your Favorite Course here</h1>
                                            <p>TOP NOTCH COURSES FROM TRAINED PROFESSIONALS</p>
                                            <a href="#">Read more</a> <a href="#">get a qoute</a>
                                        </div>
                                    </div>
                                    <div class="col-xl-7 col-lg-7 col-md-7 col-sm-12">
                                        <div class="images_box">
                                            <figure><img src="~/Userstyle/pexels-michael-burrows-7129700-removebg-preview.png"  </figure>
                                        </div>
                                    </div>




                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

    </div>

    <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>

</div>





<section id="about-3" class="pt-80 about-section division">
    <div class="container">
        <div class="row d-flex align-items-center">


            <!-- ABOUT TEXT -->
            <div class="col-md-7 col-lg-6">
                <div class="txt-block pc-25">

                    <!-- Title -->
                    <h1 class="h1-sm" style="color:purple ">Welcome To Zeal Education</h1>

                    <!-- Text -->
                    <p>
                        Zeal is situated in the heart of Karakoram Range, at the confluence of two great glaciers, the Baltoro Glacier and the Godwin-Austen. Zeal provides an awe-inspiring view of some of the highest peaks in the world. It is the base camp for mountains like K-2, Broad Peak, and Gasherbrum. Daring climbers start their journey to conquer these peaks from here. Zeal is surrounded by eighteen peaks that are more than 5000 meters high.

                        This makes Zeal a special place on earth. In the same spirit, our students will start their educational careers at Zeal Colleges. We prepare students for entry into the best engineering, medical, and general educational institutions in Pakistan and abroad. With our expert faculty and state-of-the-art pedagogy, Zeal Colleges will nurture students’ abilities to their highest possible potential as they go forward on their educational journey
                    </p>

                    <!-- List -->
                    <ul class="txt-list mb-15">

                        <li>At Zeal, we feel that the Blended Learning Model is essential for a complete learning system.</li>

                        <li>
                            Zeal aims to provide quality education of an international standard. We aim for excellence through quality management, quality training and quality teaching, bringing benefits to our students, the community and the wider world.
                        </li>

                        <li>
                            Of these students, over 111,200 study at the group’s flagship network, the Zeal Edu, while the remaining are largely enrolled at The Educators, a parallel school network operated by the group with over 200,000 students. Other students are in Zeal Edu overseas.
                        </li>

                    </ul>

                </div>
            </div>	  <!-- END ABOUT TEXT -->
            <!-- ABOUT IMAGE -->
            <div class="col-md-5 col-lg-6">
                <div class="img-block">
                    <img class="img-fluid" src="~/Userstyle/photo-1523050854058-8df90110c9f1.png" alt="about-image">
                </div>
            </div>
            <br>
            <br>
            <br>
            <br>

            <div class="col-md-5 col-lg-12">
                <br>
                <br>
                <br>
                <h2 style="text-align: center; color: #200769;">Students From All Over The World</h2>
                <div class="img-block">
                    <img class="img-fluid" src="~/index style/world-map-02.png" alt="about-image" style=" margin-left: auto; margin-right: auto;">
                </div>
            </div>

        </div>    <!-- End row -->
    </div>	   <!-- End container -->
</section>








<!-----*************************************************----->



<div class="section-full bg-white content-inner">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="sort-title clearfix text-center">
                    <h4> POPULAR COURSES </h4>
                </div>
                <!-- Event post Carousel with no margin -->
                <div class="section-content box-sort-in m-b30 button-example">
                    <div class="blog-carousel owl-loaded owl-theme owl-carousel mfp-gallery gallery owl-btn-center-lr owl-btn-2">



                        @foreach (var item in Model)
                        {

                            <div class="item">
                                <div class="ow-event-post date-style-2">
                                    <div class="ow-event-media dlab-img-effect zoom-slow"> <img src="@Url.Content(item.c_img)" alt="" width="200" height="200"> </div>
                                    <div class="ow-event-info ">
                                        <div class="ow-event-title">
                                            <h4 class="event-title"> <a href="javascript:void(0);" title="Video post">@Html.DisplayFor(modelItem => item.c_name)</a> </h4>
                                        </div>
                                        <div class="ow-event-text">
                                            <p>@Html.DisplayFor(modelItem => item.c_fees)</p>
                                            <p>@Html.DisplayFor(modelItem => item.c_desc)</p>
                                        </div>
                                        <div class="ow-event-readmore "> <a href="@Url.Action("Course","User")" title="READ MORE" rel="bookmark" class=" site-button-link"> READ MORE <i class="fa fa-angle-double-right"></i></a> </div>
                                    </div>
                                </div>
                            </div>

                        }





                    </div>
                </div>
            </div>
        </div>
    </div>
</div>











<script src="~/index style/js/jquery.min.js"></script><!-- JQUERY.MIN JS -->
<script src="~/index style/wow/wow.js"></script><!-- WOW JS -->
<script src="~/index style/popper.min.js"></script><!-- BOOTSTRAP.MIN JS -->
<script src="~/index style/bootstrap.min.js"></script><!-- BOOTSTRAP.MIN JS -->
<script src="~/index style/bootstrap-select.min.js"></script><!-- FORM JS -->
<script src="~/index style/jquery.bootstrap-touchspin.js"></script><!-- FORM JS -->
<script src="~/index style/magnific-popup.js"></script><!-- MAGNIFIC POPUP JS -->
<script src="~/index style/waypoints-min.js"></script><!-- WAYPOINTS JS -->
<script src="~/index style/plugins/counter/counterup.min.js"></script><!-- COUNTERUP JS -->
<script src="~/index style/imagesloaded.js"></script><!-- IMAGESLOADED -->
<script src="~/index style/masonry-3.1.4.js"></script><!-- MASONRY -->
<script src="~/index style/masonry.filter.js"></script><!-- MASONRY -->
<script src="~/index style/owl.carousel.js"></script><!-- OWL SLIDER -->
<script src="~/index style/lightgallery-all.min.js"></script><!-- Lightgallery -->
<script src="~/index style/custom.js"></script><!-- CUSTOM FUCTIONS  -->
<script src="~/index style/dz.carousel.min.js"></script><!-- SORTCODE FUCTIONS  -->
<script src="~/index style/jquery.countdown.js"></script><!-- COUNTDOWN FUCTIONS  -->
<script src="~/index style/dz.ajax.js"></script><!-- CONTACT JS  -->
<script src="~/index style/rangeslider.js"></script><!-- Rangeslider -->
<!-- JAVASCRIPT FILES ========================================= -->
