@model managment.Models.Assingment

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/layoutadmin.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Assingment</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.as_title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.as_title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.as_date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.as_date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.as_file)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.as_file)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.as_desc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.as_desc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.batch.b_code)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.batch.b_code)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.st_subj.s_sub)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.st_subj.s_sub)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.as_id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
