@model managment.Models.as_submit

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/layoutadmin.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>as_submit</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.su_submit)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.su_submit)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.su_desc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.su_desc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Assingment.as_title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Assingment.as_title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.std_info.s_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.std_info.s_name)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
