@model IEnumerable<managment.Models.exam_result>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/layoutadmin.cshtml";
}

<script src="~/Content/Filesaver.js"></script>

<script>
    function fnExcelReport(id, name) {
        var tab_text = '<html xmlns: x="urn:schemas-microsoft-com:office:excel">';
        tab_text = tab_text + '<head><xml><x: ExcelWorkbook><x: ExcelWorksheets><x: ExcelWorksheet>';
        tab_text = tab_text + '<x: Name>Test Sheet</x: Name>';
        tab_text = tab_text + '<x: WorksheetOptions><x: Panes></x: Panes></x: WorksheetOptions ></x: ExcelWorksheet > ';
        tab_text = tab_text + '</x:ExcelWorksheets></x:ExcelWorkbook></xml></head><body>';
        tab_text = tab_text + "<table border='1px' style='color:black'>";


        var exportTable = $('#' + id).clone();
        exportTable.find('th').last().remove();
        exportTable.find('input').each(function (index, elem) { $(elem).remove(); });
        exportTable.find('a').each(function (index, elem) { $(elem).remove(); });

        tab_text = tab_text + exportTable.html();
        tab_text = tab_text + '</table></body></html>';
        var fileName = "Demo" + '.xls';

        //Save the file
        var blob = new Blob([tab_text], { type: "application/vnd.ms-excel;charset=utf-8" })
        window.saveAs(blob, fileName);
    }
</script>






<h2>Results</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

<br />
<br />
<button class="btn btn-primary" onclick="javascript: fnExcelReport('dataTable', 'data')">Export To Excel</button>
<br />
<br />

<table class="table" id="dataTable">
    <tr>
        <th>
            @Html.Label("Marks", null, htmlAttributes: new { @class = "" })

        </th>
        <th>
            @Html.Label("Percantage", null, htmlAttributes: new { @class = "" })

        </th>
        <th>
            @Html.Label("Grades", null, htmlAttributes: new { @class = "" })

        </th>
        <th>
            @Html.Label("Re-Marks", null, htmlAttributes: new { @class = "" })

        </th>
        <th>
            @Html.Label("Exam type", null, htmlAttributes: new { @class = "" })

        </th>
        <th>
            @Html.Label("Student Name", null, htmlAttributes: new { @class = "" })

        </th>
        <th>
            @Html.Label("Subject", null, htmlAttributes: new { @class = "" })

        </th>
        <th>
            @Html.Label("Student Enrollment", null, htmlAttributes: new { @class = "" })

        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.er_marks)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.er_per)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.er_grade)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.er_remarks)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.exam.e_type)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.std_info.s_name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.st_subj.s_sub)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.std_info.s_cpass)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.er_id }) |
                @Html.ActionLink("Details", "Details", new { id = item.er_id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.er_id })
            </td>
        </tr>
    }

</table>
