@model IEnumerable<managment.Models.std_mat>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/layoutadmin.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.Label("Description", null, htmlAttributes: new { @class = "" })

        </th>
        <th>
            @Html.Label("File", null, htmlAttributes: new { @class = "" })

        </th>
        <th>
            @Html.Label("Batch", null, htmlAttributes: new { @class = "" })

        </th>
        <th>
            @Html.Label("Subject", null, htmlAttributes: new { @class = "" })

        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.sm_desc)
        </td>
        <td>
            <button class="btn"><a href="@Url.Content(item.sm_file)" download="">Download</a></button>

        </td>
        <td>
            @Html.DisplayFor(modelItem => item.batch.b_code)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.st_subj.s_sub)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.sm_id }) |
            @Html.ActionLink("Details", "Details", new { id=item.sm_id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.sm_id })
        </td>
    </tr>
}

</table>
